.projectCardContainer {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.projectCardContainer:hover {
	transform: scale(1.02);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	opacity: 0.8;
}

.projectCardImage {
	width: 100%;
	border-radius: 8px 8px 0 0;
	object-fit: cover;
}

.projectCardTextContainer {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: -webkit-fill-available;
	padding: 0 2em 1em 1em;
	background-color: #26262d;
	border-radius: 0 0 8px 8px;
	border: 2px solid white;
	border-top: none;
	gap: 2em;
}

.projectCardTitleTech {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.projectCardTitle {
	color: white;
	font-size: 50px;
	font-weight: 600;
}

.projectCardTech {
	color: #e4aa48;
	font-size: 16px;
	font-weight: 400;
}

.projectCardDescription {
	height: 100%;
	color: white;
	font-size: 14px;
	font-weight: 300;
	opacity: 0.8;
}
